<!DOCTYPE html>
<html>
<head>
    <title>Hockey Game Event Logger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Hockey Game Event Logger</h1>
        <h1 id="time-display"></h1>
        <form method="POST">
            <label for="game_name">Game Name:</label>
            <input type="text" id="game_name" name="game_name" value="{{ request.form.get('game_name', '') }}" required><br><br>

            <div class="button-container">
                <button type="submit" name="button_name" value="shot_attempt_for">Shot Attempt For</button>
                <button type="submit" name="button_name" value="shot_attempt_against">Shot Attempt Against</button>
                <button type="submit" name="button_name" value="goal_for">Goal For</button>
                <button type="submit" name="button_name" value="goal_against">Goal Against</button>
            </div>
        </form>
    </div>

    <script>
        function updateTime() {
            const timeDisplay = document.getElementById('time-display');
            const now = new Date();
            const options = { timeZoneName: 'short' };
            timeDisplay.textContent = now.toLocaleString(undefined, options);
        }

        updateTime(); // Initial update
        setInterval(updateTime, 1000); // Update every 1000 milliseconds (1 second)

                // Function to handle button click
                function handleClick(button) {
            button.classList.add('clicked');
            setTimeout(() => button.classList.remove('clicked'), 300); // Remove class after 300ms
        }

        // Add event listeners to buttons
        const buttons = document.querySelectorAll('.button-container button');
        buttons.forEach(button => {
            button.addEventListener('click', () => handleClick(button));
        });
    </script>
</body>
</html>
